<p>products works!</p>
<div class="container mx-auto">
  <div
    class="mt-6 grid grid-cols-1 gap-x-6 gap-y-28 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
  >
    <div
      *ngFor="let product of productList"
      class="group relative border rounded-lg"
    >
      <img
        src="{{ product.productImageUrl }}"
        alt="Front of men&#039;s Basic Tee in black."
        class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80"
      />
      <div class="mt-4 p-5 flex justify-between">
        <div>
          <h3 class="text-sm text-gray-700">
            <a href="#">
              <span aria-hidden="true" class="absolute inset-0"></span>
              {{ product.productName }}
            </a>
          </h3>
          <p class="mt-1 text-sm text-gray-500">{{ product.categoryName }}</p>
          <button
            type="button"
            class="text-blue-700 bg-white outline-blue-700 justify-end hover:bg-blue-800 mt-5 focus:ring-4 focus:outline-blue-700 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-white dark:hover:bg-white dark:focus:ring-blue-800"
          >
            <svg
              class="w-3.5 h-3.5 me-2"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 18 21"
            >
              <path
                d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z"
              />
            </svg>
            View Product
          </button>
        </div>
        <p class="text-2xl font-medium text-gray-900">
          ${{ product.productPrice }}
        </p>
      </div>
    </div>
  </div>
</div>
